@charset "utf-8";

*{
    margin:0;
    padding:0;
    font-size: 1em;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url('../img/back-phone.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    
}

h1{
    text-align: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.658); 
      
}

main{
    background-color: rgba(255, 255, 255, 0.685);
    width: 90vw;
    border-radius: 5px;
    display: block;
    margin:auto;
    margin-top: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.63);
}

main img{
    margin: auto;
}



img#phone{ display: block; }
img#tablet{display: none;}
img#print{display:none;}
img#pc{display:none}
img#tv{display:none;}